body {
  background: #d1913c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #d1913c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #d1913c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.reindeers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  align-content: flex-start;
  padding: 10px 25px;
}

.sled-container {
  display: flex;
  width: 60%;
  margin: 0 auto;
  height: 440px;
  justify-content: flex-end;
}

.riding {
  animation: riding 8s ease-in-out forwards;
}

@keyframes riding {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(-3000px);
  }
}

.santa {
  margin-left: 60px;
  display: flex;
  align-self: center;
}

img {
  width: 220px;
  height: 220px;
}

  .reindeer {
    margin-top: 15px;
  }

  .input-group {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 0 auto;
  }

  input {  
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .button {
    margin: 5px 0;
    padding: 0;
    background-color: #8f191c;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: #ecf0f1;
    padding: 12px 24px;
    transition: background-color .3s;

    &-disabled {
      cursor: not-allowed;
    }

    &:not(&-disabled):hover {
      cursor: pointer;
      background-color: darken(#8f191c, 10%);
    }
  }